#account .modal-content {
  border: none; }
  #account .modal-content .modal-body {
    padding: 0; }
    #account .modal-content .modal-body .close {
      position: absolute;
      top: 10px;
      right: 15px;
      z-index: 5;
      font-size: 30px;
      text-shadow: none;
      color: white;
      opacity: 0.4; }
    #account .modal-content .modal-body .close:hover {
      opacity: 0.8; }
    #account .modal-content .modal-body .tab-content {
      padding: 10px 35px; }

/* USER PROFILE PAGE */
.card {
  padding: 30px;
  background-color: rgba(214, 224, 226, 0.2); }

.card.hovercard {
  position: relative;
  padding-top: 0;
  overflow: hidden;
  text-align: center;
  background-color: #fff;
  background-color: white; }

.card.hovercard .card-background {
  height: 130px; }

.card-background img {
  -webkit-filter: blur(25px);
  -moz-filter: blur(25px);
  -o-filter: blur(25px);
  -ms-filter: blur(25px);
  filter: blur(25px);
  margin-left: -100px;
  margin-top: -200px;
  min-width: 130%; }

.card.hovercard .useravatar {
  position: absolute;
  top: 15px;
  left: 0;
  right: 0; }

.card.hovercard .useravatar img {
  width: 100px;
  height: 100px;
  max-width: 100px;
  max-height: 100px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 5px solid rgba(255, 255, 255, 0.5); }

.card.hovercard .card-info {
  position: absolute;
  bottom: 14px;
  left: 0;
  right: 0; }

.card.hovercard .card-info .card-title {
  padding: 0 5px;
  font-size: 20px;
  line-height: 1;
  color: #262626;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px; }

.card.hovercard .card-info {
  overflow: hidden;
  font-size: 12px;
  line-height: 20px;
  color: #737373;
  text-overflow: ellipsis; }

.card.hovercard .bottom {
  padding: 0 20px;
  margin-bottom: 17px; }

.btn-pref .btn {
  -webkit-border-radius: 0 !important; }

button {
  outline: none !important; }

#main-buttons {
  position: absolute;
  top: 10px;
  left: 50%;
  z-index: 55;
  transform: translateX(-50%); }
  #main-buttons .btn-lg {
    padding: 13px 16px; }

#categories {
  position: absolute;
  bottom: 10px;
  left: 50%;
  z-index: 55;
  transform: translateX(-50%); }

#wrapper {
  box-sizing: border-box;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }

#wrapper:nth-child(1) {
  padding-left: 0; }

#wrapper:nth-child(2) {
  padding-right: 0; }

#wrapper:nth-child(1).toggled {
  padding-left: 250px; }

#wrapper:nth-child(2).toggled {
  padding-right: 250px; }

#wrapper #sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  width: 0;
  height: 100%;
  overflow-y: auto;
  background: rgba(31, 66, 88, 0.95);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }

#wrapper.toggled #sidebar-wrapper {
  width: 250px; }

#wrapper:nth-child(1) #sidebar-wrapper {
  left: 250px;
  margin-left: -250px; }

#wrapper:nth-child(2) #sidebar-wrapper {
  right: 250px;
  margin-right: -250px; }

#page-content-wrapper {
  width: 100%;
  position: absolute;
  padding: 15px; }

#wrapper:nth-child(1).toggled #page-content-wrapper {
  position: absolute;
  margin-right: -250px; }

#wrapper:nth-child(2).toggled #page-content-wrapper {
  position: absolute;
  margin-left: -250px; }

/* Sidebar Styles */
.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none; }

.sidebar-nav li {
  text-indent: 20px;
  line-height: 40px;
  cursor: pointer; }

.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: #ededed; }

.sidebar-nav li a:hover {
  text-decoration: none;
  color: #fff;
  background: rgba(255, 255, 255, 0.2); }

.sidebar-nav li:hover {
  text-decoration: none;
  color: #fff;
  background: rgba(255, 255, 255, 0.2); }

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none; }

.sidebar-nav > .sidebar-brand {
  font-size: 22px;
  font-weight: bold;
  line-height: 45px;
  background: rgba(0, 0, 0, 0.3); }

.sidebar-nav > .sidebar-brand a {
  color: #dcdcdc; }

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none; }

.list-group-item {
  background: none;
  color: white;
  border: none;
  border-bottom: 1px solid white;
  border-top: 1px solid white; }

.list-group-item:last-child {
  border-radius: 0 !important; }

.list-group-item:first-child {
  border-top: none; }

@media (max-width: 768px) {
  #wrapper.toggled #sidebar-wrapper {
    width: 50%; }

  #wrapper:nth-child(1) #sidebar-wrapper {
    left: 50%;
    margin-left: -50%; }

  #wrapper:nth-child(2) #sidebar-wrapper {
    right: 50%;
    margin-right: -50%; }

  .sidebar-nav {
    width: 50vw; }
    .sidebar-nav .sidebar-brand {
      font-size: 16px; }

  #main-buttons {
    top: -1px; } }
/**
 * Profile image component
 */
.profile-header-container {
  margin: 0 auto;
  text-align: center; }

.profile-header-img {
  padding: 15px;
  text-indent: 0; }

.profile-header-img > img.img-circle {
  width: 120px;
  height: 120px;
  border: 2px solid #51D2B7;
  cursor: pointer; }

/**
 * Ranking component
 */
.rank-label-container {
  margin-top: -5px;
  text-align: center;
  pointer-events: none; }

.label.label-default.rank-label {
  background-color: #51d2b7;
  padding: 5px 10px 5px 10px;
  border-radius: 27px; }

@media (max-width: 768px) {
  .profile-header-img > img.img-circle {
    width: 90px;
    height: 90px; } }
#place_details .modal-content .modal-body {
  position: relative;
  padding: 0;
  -webkit-transition: all 1s;
  /* Safari */
  transition: all 1s; }
  #place_details .modal-content .modal-body img {
    max-height: 350px;
    max-width: 350px; }
  #place_details .modal-content .modal-body .close {
    position: absolute;
    top: 10px;
    right: 15px;
    z-index: 5;
    font-size: 30px;
    text-shadow: none;
    color: white;
    opacity: 1 !important; }
  #place_details .modal-content .modal-body .close:hover {
    opacity: 0.8; }
  #place_details .modal-content .modal-body .preview {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }
  @media screen and (max-width: 996px) {
    #place_details .modal-content .modal-body .preview {
      margin-bottom: 20px; } }
  #place_details .modal-content .modal-body .preview-pic {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1; }
  #place_details .modal-content .modal-body .preview-thumbnail.nav-tabs {
    border: none;
    margin-top: 15px; }
  #place_details .modal-content .modal-body .preview-thumbnail.nav-tabs li {
    width: 18%;
    margin-right: 2.5%; }
  #place_details .modal-content .modal-body .preview-thumbnail.nav-tabs li img {
    max-width: 100%;
    display: block; }
  #place_details .modal-content .modal-body .preview-thumbnail.nav-tabs li a {
    padding: 0;
    margin: 0; }
  #place_details .modal-content .modal-body .preview-thumbnail.nav-tabs li:last-of-type {
    margin-right: 0; }
  #place_details .modal-content .modal-body .tab-content {
    overflow: hidden; }
  #place_details .modal-content .modal-body .tab-content img {
    -webkit-animation-name: opacity;
    animation-name: opacity;
    -webkit-animation-duration: .3s;
    animation-duration: .3s; }
  #place_details .modal-content .modal-body .card {
    background: #eee;
    padding: 3em;
    line-height: 1.5em; }
  @media screen and (min-width: 997px) {
    #place_details .modal-content .modal-body .wrapper {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; } }
  #place_details .modal-content .modal-body .details {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    overflow: hidden; }
  #place_details .modal-content .modal-body .colors {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1; }
  #place_details .modal-content .modal-body .product-title, #place_details .modal-content .modal-body .tel, #place_details .modal-content .modal-body .sizes, #place_details .modal-content .modal-body .colors {
    text-transform: UPPERCASE;
    font-weight: bold; }
  #place_details .modal-content .modal-body .checked, #place_details .modal-content .modal-body .tel span {
    color: #ff9f1a; }
  #place_details .modal-content .modal-body .product-title, #place_details .modal-content .modal-body .rating, #place_details .modal-content .modal-body .product-description, #place_details .modal-content .modal-body .tel, #place_details .modal-content .modal-body .vote, #place_details .modal-content .modal-body .sizes {
    margin-bottom: 15px; }
  #place_details .modal-content .modal-body .product-title {
    margin-top: 0; }
    #place_details .modal-content .modal-body .product-title a {
      text-decoration: none; }
  #place_details .modal-content .modal-body .size {
    margin-right: 10px; }
  #place_details .modal-content .modal-body .size:first-of-type {
    margin-left: 40px; }
  #place_details .modal-content .modal-body .color {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    height: 2em;
    width: 2em;
    border-radius: 2px; }
  #place_details .modal-content .modal-body .color:first-of-type {
    margin-left: 20px; }
  #place_details .modal-content .modal-body .show-path, #place_details .modal-content .modal-body .like {
    background: #ff9f1a;
    border: none;
    text-transform: UPPERCASE;
    font-weight: bold;
    color: #fff;
    -webkit-transition: background .3s ease;
    transition: background .3s ease; }
  #place_details .modal-content .modal-body .show-path:hover, #place_details .modal-content .modal-body .like:hover {
    background: #b36800;
    color: #fff; }
  #place_details .modal-content .modal-body .not-available {
    text-align: center;
    line-height: 2em; }
  #place_details .modal-content .modal-body .not-available:before {
    font-family: fontawesome;
    content: "\f00d";
    color: #fff; }
  #place_details .modal-content .modal-body .orange {
    background: #ff9f1a; }
  #place_details .modal-content .modal-body .green {
    background: #85ad00; }
  #place_details .modal-content .modal-body .blue {
    background: #0076ad; }
  #place_details .modal-content .modal-body .tooltip-inner {
    padding: 1.3em; }
@-webkit-keyframes opacity {
  0% {
    opacity: 0;
    -webkit-transform: scale(3);
    transform: scale(3); }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1); } }
@keyframes opacity {
  0% {
    opacity: 0;
    -webkit-transform: scale(3);
    transform: scale(3); }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1); } }
  #place_details .modal-content .modal-body .product-description {
    max-height: 190px;
    overflow-y: auto; }
    #place_details .modal-content .modal-body .product-description p {
      display: none; }
    #place_details .modal-content .modal-body .product-description p.active {
      display: block; }

/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
#map {
  height: 100%; }

/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; }

.list-group .list-group-item {
  padding: 0;
  text-indent: 0;
  padding-left: 20px;
  line-height: 24px; }

#more {
  position: absolute;
  bottom: 10px;
  right: 10px; }

#moreCategories .rangeslider-container .rangeslider-info {
  margin: 10px; }

#follow {
  position: absolute;
  bottom: 10px;
  right: 10px; }

#panorama .modal-body {
  min-height: 500px; }

/*# sourceMappingURL=app.css.map */
