@import 'account_edit';
@import 'sidebar';
@import 'sidebar_avatar';
@import 'place_details';

/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
#map {
  height: 100%;
}
/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.list-group {
  .list-group-item {
    padding: 0;
    text-indent: 0;
    padding-left: 20px;
    line-height: 24px;
  }
}

#more {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

#moreCategories .rangeslider-container {
  .rangeslider-info {
    margin: 10px;
  }
}

#follow {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

#panorama .modal-body {
  min-height: 500px;
}

