/**
 * Profile image component
 */
.profile-header-container{
  margin: 0 auto;
  text-align: center;
}

.profile-header-img {
  padding: 15px;
  text-indent: 0;
}

.profile-header-img > img.img-circle {
  width: 120px;
  height: 120px;
  border: 2px solid #51D2B7;
  cursor: pointer;
}

/**
 * Ranking component
 */
.rank-label-container {
  margin-top: -5px;
  text-align: center;
  pointer-events: none;
}

.label.label-default.rank-label {
  background-color: rgb(81, 210, 183);
  padding: 5px 10px 5px 10px;
  border-radius: 27px;
}

@media(max-width:768px) {
  .profile-header-img > img.img-circle {
    width: 90px;
    height: 90px;
  }
}