$width: 250px;
$width-device: 50%;

button {
    outline: none !important;
}

#main-buttons {
    position: absolute;
    top: 10px;
    left: 50%;
    z-index: 55;
    transform: translateX(-50%);

    .btn-lg {
        padding: 13px 16px;
    }
}
#categories {
    position: absolute;
    bottom: 10px;
    left: 50%;
    z-index: 55;
    transform: translateX(-50%);
}
#wrapper {
    box-sizing: border-box;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
#wrapper:nth-child(1) {
    padding-left: 0;
}
#wrapper:nth-child(2) {
    padding-right: 0;
}

#wrapper:nth-child(1).toggled {
    padding-left: $width;
}
#wrapper:nth-child(2).toggled {
    padding-right: $width;
}

#wrapper #sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    width: 0;
    height: 100%;
    overflow-y: auto;
    background: rgba(31, 66, 88, 0.95);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
#wrapper.toggled #sidebar-wrapper {
    width: $width;
}

#wrapper:nth-child(1) #sidebar-wrapper {
    left: $width;
    margin-left: -$width;
}
#wrapper:nth-child(2) #sidebar-wrapper {
    right: $width;
    margin-right: -$width;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper:nth-child(1).toggled #page-content-wrapper {
    position: absolute;
    margin-right: -$width;
}
#wrapper:nth-child(2).toggled #page-content-wrapper {
    position: absolute;
    margin-left: -$width;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: $width;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
    cursor: pointer;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #ededed;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

//WYNIKI WYSZUKIWANIA
.sidebar-nav li:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    font-size: 22px;
    font-weight: bold;
    line-height: 45px;
    background: rgba(0, 0, 0, 0.3);
}

.sidebar-nav > .sidebar-brand a {
    color: #dcdcdc;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

.list-group-item {
    background: none;
    color: white;
    border: none;
    border-bottom: 1px solid white;
    border-top: 1px solid white;
}
.list-group-item:last-child {
    border-radius: 0 !important;
}
.list-group-item:first-child {
    border-top: none;
}

@media(max-width:768px) {
    #wrapper.toggled #sidebar-wrapper {
        width: $width-device;
    }

    #wrapper:nth-child(1) #sidebar-wrapper {
        left: $width-device;
        margin-left: -$width-device;
    }
    #wrapper:nth-child(2) #sidebar-wrapper {
        right: $width-device;
        margin-right: -$width-device;
    }
    .sidebar-nav {
        width: 50vw;
        .sidebar-brand {
            font-size: 16px;
        }
    }

    #main-buttons {
        top: -1px;
    }
}